<template>
  <div class="container">
    <div class="content">
      <section class="heading">
        <div class="avatar">
          <img class="avatar__image" src="@/assets/img/avatar.jpg" alt="Avatar">
        </div>
        <div class="general">
          <h4 class="general__full-name">Nguyen Mau Luong</h4>
          <ul class="general__basic-info">
            <li
              v-for="(item, index) in basicInfo"
              :key="item.name"
              :title="item.title"
              class="general__info"
              @mouseover="onMouseOverInfo"
              @mouseleave="onMouseLeaveInfo"
            >
              <div class="general__info__icon">
                <span class="fa-icon"><v-icon :name="item.faIcon" scale="2"/></span>
              </div>
              <div
                class="description hidden"
                :class="[index < basicInfo.length / 2 ? 'right' : 'left']"
              >
                {{ item.value }}
              </div>
            </li>
            <!-- <li
              class="general__info viblo"
              title="Viblo blog"
              @mouseover="onMouseOverInfo"
              @mouseleave="onMouseLeaveInfo"
              @click="open('https://viblo.asia/u/tran.dai.son')"
            >
              <div class="general__info__icon">
                <img src="@/assets/img/viblo.png" alt="Viblo">
              </div>
              <div
                class="description hidden"
                :class="[index < basicInfo.length / 2 ? 'right' : 'left']"
              >
                @tran.dai.son
              </div>
            </li> -->
          </ul>
        </div>
      </section>
      <section class="main-content">
        <div class="left-side">
          <div class="row">
            <div class="sub-content">
              <h2>About me</h2>
              <h3>A Full-Stack developer</h3>
              <p>"A software engineering graduate who is seeking to ﬁnd the opportunity to work in a fun and challenging working environment that will encourage him to improve and learn new and necessary skills as well as be motivated by the company to do his best for the sake of helping himself and the company advance in the software engineering industry."</p>
            </div>
          </div>
          <div class="row">
            <div class="sub-content">
              <h2>Experiences</h2>
              <div v-for="item in experiences" :key="item.company" class="sub-content__block">
                <div class="sub-content__logo">
                  <a :href="item.website" target="_blank">
                    <img :src="item.logo" :alt="item.company">
                  </a>
                </div>
                <div class="sub-content__body experience">
                  <div class="primary-content">
                    <h3 class="name">
                      <a :href="item.website" target="_blank">{{ item.company }}</a>
                    </h3>
                    <span class="location">{{ item.location }}</span>
                  </div>
                  <div class="secondary-content">
                    <span class="time">{{ `${item.from} - ${item.to}` }}</span>
                    <p class="major">{{ item.position }}</p>
                    <p class="description">{{ item.description }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sub-content">
              <h2>Education</h2>
              <div v-for="item in education" :key="item.name" class="sub-content__block">
                <div class="sub-content__logo">
                  <a :href="item.website" target="_blank">
                    <img :src="item.logo" :alt="item.name">
                  </a>
                </div>
                <div class="sub-content__body">
                  <div class="primary-content">
                    <h3 class="name">
                      <a :href="item.website" target="_blank">{{ item.name }}</a>
                    </h3>
                    <span class="time">{{ `${item.from} - ${item.to}` }}</span>
                  </div>
                  <div class="secondary-content">
                    <p class="major">{{ item.subject }}</p>
                    <p class="description">{{ item.details }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="sub-content">
              <h2>Skills</h2>
              <div class="sub-content__skills">
                <table class="sub-content__table">
                  <tr>
                    <th>
                      <div class="inner-text">Technical</div>
                    </th>
                  </tr>
                  <tr v-for="skill in skills" :key="skill.id">
                    <td>
                      <div class="inner-text" :title="skill.name">
                        <input
                          :class="['slider', skill.id]"
                          :title="skill.name"
                          type="range"
                          min="0"
                          max="10"
                          v-model="skill.value"
                        />
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <div class="inner-text">General Skills</div>
                    </th>
                  </tr>
                  <tr v-for="skill in generalSkills" :key="skill">
                    <td>
                      <div class="inner-text">
                        {{ skill }}
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="right-side">
          <Timeline/>
        </div>
      </section>
      <section class="footer">
        <ul class="contact">
          <li class="contact__item">
            <a href="https://luongnm.me" target="_blank">
              <span class="fa-icon"><v-icon name="laptop-code"/></span> {{ website }}
            </a>
          </li>
          <li class="contact__item">
            <a href="https://gitlab.com/mauluong" target="_blank">
              <span class="fa-icon"><v-icon name="brands/gitlab"/></span> {{ github }}
            </a>
          </li>
          <li class="contact__item">
            <a href="https://www.facebook.com/luongnm.me" target="_blank">
              <span class="fa-icon"><v-icon name="brands/facebook"/></span> {{ facebook }}
            </a>
          </li>
          <li class="contact__item">
            <a :href="`mailto:${email}`">
              <span class="fa-icon"><v-icon name="envelope"/></span> {{ google }}
            </a>
          </li>
        </ul>
      </section>
    </div>

    <div class="download-link">
      <a class="button" href="#" @click.prevent.stop="downloadCV">
        <span class="fa-icon"><v-icon name="file-download"/></span>
        Download CV
      </a>
    </div>
  </div>
</template>

<script>
import fptuLogo from '@/assets/img/logofptu.png'
import fsoftlogo from '@/assets/img/logofsoft.png'
import Timeline from './Timeline'

export default {
  name: 'Home',
  data () {
    const current = new Intl.DateTimeFormat('en-US', {
      month: 'short',
      year: 'numeric'
    }).format(new Date())

    return {
      address: 'Quang Loc, Quang Xuong, Thanh Hoa',
      phone: '+84 583 447 572',
      email: 'ducluong195@gmail.com',
      github: 'mauluong',
      website: 'luongnm.me',
      facebook: 'luongnm.me',
      google: 'luongnm.me',
      basicInfo: [
        {
          name: 'address',
          title: 'Address',
          value: 'Quang Loc, Quang Xuong, Thanh Hoa',
          faIcon: 'map-marker-alt'
        }, {
          name: 'phone',
          title: 'Mobile',
          value: '+84 583447572',
          faIcon: 'mobile-alt'
        }, {
          name: 'email',
          title: 'Email',
          value: 'ducluong195@gmail@gmail.com',
          faIcon: 'at'
        }
      ],
      experiences: [
        {
          company: 'FPT Software',
          location: 'Hanoi',
          from: 'Sep 2018',
          to: `${current}`,
          position: 'Fullstack developer',
          description: null,
          website: 'https://sun-asterisk.vn/',
          logo: fsoftlogo
        }
      ],
      education: [
        {
          name: 'FPT University',
          website: 'https://daihoc.fpt.edu.vn',
          from: '2015',
          to: '2019',
          subject: 'Software Engineer',
          details: 'Class of 2015-2019',
          logo: fptuLogo
        }, {
          name: 'FPT Software',
          website: 'https://www.fpt-software.com/',
          from: 'June 2016',
          to: 'Aug 2016',
          subject: 'Intern',
          details: '',
          logo: fsoftlogo
        }
      ],
      skills: [
        { name: 'PHP', value: 10, id: 'php' },
        { name: 'Python', value: 9, id: 'python' },
        { name: 'Java', value: 7, id: 'java' },
        { name: 'C#/.NET', value: 7, id: 'csharp' },
        { name: 'Angularjs', value: 8, id: 'angularjs' },
        { name: 'HTML/CSS/JS', value: 8, id: 'htmlcssjs' }
        // { name: 'HTML', value: 10, id: 'html' },
        // { name: 'JS/jQuery', value: 10, id: 'js' },
        // { name: 'ECMAScript 6', value: 10, id: 'es6' },
        // { name: 'MySQL', value: 9, id: 'mysql' }
      ],
      generalSkills: [
        'Communication',
        'Problem Solving',
        'Leadership',
        'Teamwork',
        'Scrum',
        'Technical Seminar',
        'Devops'
      ]
    }
  },

  components: {
    Timeline
  },

  methods: {
    onMouseOverInfo (e) {
      const target = e.target
      const others = document.querySelectorAll('.general .general__info')
      for (let i = 0; i < others.length; i++) {
        const li = others[i]
        if (li !== target) {
          li.classList.add('invisible')
        }
      }

      target.classList.add('hovering')
    },

    onMouseLeaveInfo (e) {
      const target = e.target
      const others = document.querySelectorAll('.general .general__info')
      for (let i = 0; i < others.length; i++) {
        const li = others[i]
        if (li !== target) {
          li.classList.remove('invisible')
        }
      }

      target.classList.remove('hovering')
    },

    open (url) {
      window.open(url, '_blank')
    },

    downloadCV () {
      alert('Hãy liên hệ Lương để nhận được CV.\nPlease contact Luong to get the lastest CV.')
    }
  }
}
</script>
