<template lang="html">
  <div class="box">
    <ul>
      <li>
        <span></span>
        <div class="title">INVT</div>
        <div class="info">
          <div class="project-description">
            <img class="thumb" src="@/assets/img/toppanlogo.png" alt="Toppan Logo">
            <p class="text">INVT is the web application that manages Inventory in the seaport, airport, factory by QR code.</p>
          </div>
          <table class="project-details">
            <tr>
              <th>Technical:</th>
              <td>Python - Django Framework, Angular</td>
            </tr>
            <tr>
              <th>Role:</th>
              <td>Developer</td>
            </tr>
            <tr>
              <th>Team size:</th>
              <td>15</td>
            </tr>
          </table>
        </div>
        <div class="time">
          <span>Apr 2020</span>
          <span>Jan 2020</span>
        </div>
      </li>
      <li>
        <span></span>
        <div class="title">OAS</div>
        <div class="info">
          <div class="project-description">
            <img class="thumb" src="@/assets/img/toppanlogo.png" alt="Toppan Logo">
            <p class="text">OAS is the microservice application that monitoring the worker in the factory, the main functions are logging workers working, import working report, analysis work performance and visualization after analysis.</p>
          </div>
          <table class="project-details">
            <tr>
              <th>Technical:</th>
              <td>Java - Spring Boot, C# - .NET,  Angular</td>
            </tr>
            <tr>
              <th>Role:</th>
              <td>Developer</td>
            </tr>
            <tr>
              <th>Team size:</th>
              <td>20</td>
            </tr>
          </table>
        </div>
        <div class="time">
          <span>Dec. 2019</span>
          <span>Jun. 2019</span>
        </div>
      </li>
      <li>
        <span></span>
        <div class="title">「NoEROR」</div>
        <div class="info">
          <div class="project-description">
            <img class="thumb" src="@/assets/img/noeror.png" alt="NoEror Logo">
            <p class="text"><a target="_blank" href="https://www.toppan.co.jp/solution/service/bpo/07.html">「NoEROR」</a> is a web CMS that helps shorten working time with large volumes of documents by BPO process.</p>
          </div>
          <table class="project-details">
            <tr>
              <th>Technical:</th>
              <td>PHP - Laravel Framework</td>
            </tr>
            <tr>
              <th>Role:</th>
              <td>Developer</td>
            </tr>
            <tr>
              <th>Team size:</th>
              <td>20</td>
            </tr>
          </table>
        </div>
        <div class="time">
          <span>May. 2019</span>
          <span>Sep. 2018</span>
        </div>
      </li>
      <li>
        <span></span>
        <div class="title">NEC</div>
        <div class="info">
          <div class="project-description">
            <img class="thumb" src="@/assets/img/toppanlogo.png" alt="NoEror Logo">
            <p class="text">In this project, my job is only review source code for Japan customer. Isthat code is good at convension, check list ...</p>
          </div>
          <table class="project-details">
            <tr>
              <th>Technical:</th>
              <td>Java</td>
            </tr>
            <tr>
              <th>Role:</th>
              <td>Member</td>
            </tr>
            <tr>
              <th>Team size:</th>
              <td>4</td>
            </tr>
          </table>
        </div>
        <div class="time">
          <span>Aug. 2018</span>
          <span>Jun. 2018</span>
        </div>
      </li>
      <div class="arrow" id="btn1" @click="scrollToTop">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 284.929 284.929" style="enable-background:new 0 0 284.929 284.929;" xml:space="preserve">
          <g>
            <g>
              <path d="M135.899,167.877c1.902,1.902,4.093,2.851,6.567,2.851s4.661-0.948,6.562-2.851L282.082,34.829    c1.902-1.903,2.847-4.093,2.847-6.567s-0.951-4.665-2.847-6.567L267.808,7.417c-1.902-1.903-4.093-2.853-6.57-2.853    c-2.471,0-4.661,0.95-6.563,2.853L142.466,119.622L30.262,7.417c-1.903-1.903-4.093-2.853-6.567-2.853    c-2.475,0-4.665,0.95-6.567,2.853L2.856,21.695C0.95,23.597,0,25.784,0,28.262c0,2.478,0.953,4.665,2.856,6.567L135.899,167.877z" fill="#FFFFFF"/>
              <path d="M267.808,117.053c-1.902-1.903-4.093-2.853-6.57-2.853c-2.471,0-4.661,0.95-6.563,2.853L142.466,229.257L30.262,117.05    c-1.903-1.903-4.093-2.853-6.567-2.853c-2.475,0-4.665,0.95-6.567,2.853L2.856,131.327C0.95,133.23,0,135.42,0,137.893    c0,2.474,0.953,4.665,2.856,6.57l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854l133.054-133.046    c1.902-1.903,2.847-4.093,2.847-6.565c0-2.474-0.951-4.661-2.847-6.567L267.808,117.053z" fill="#FFFFFF"/>
            </g>
          </g>
        </svg>
      </div>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Timeline',

  methods: {
    scrollToTop () {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      })
    }
  }
}
</script>
